<html>

<head>
	<title>Web GPU</title>

	<meta id="viewport" name="viewport"
		content="width=device-width, minimum-scale=1.0, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no, viewport-fit=cover" />

	<style>
		html,
		body {
			margin: 0;
			padding: 0;
			height: 100%;
			overflow: hidden;
		}

		#pixi-content {
			background: #000000;
			width: 100%;
			height: 100%;
		}
	</style>

</head>

<body>
	<noscript>Please enable JavaScript in your web browser to view this page.</noscript>
	<div id="webgpu-content" style="background-color: black;"><canvas style="margin-left: 200px; margin-bottom: 20px; margin-top: 20px;" id="webgpu-canvas" width="620px" height="620px"/></div>
</body>

</html>